@font-face {
    font-family: Roboto-400;
    src: url(../css/fons/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-500;
    src: url(../css/fons/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-700;
    src: url(../css/fons/Roboto-Bold.ttf);
}
@font-face {
    font-family: Raleway-800;
    src: url(../css/fons/Raleway-ExtraBold.ttf);
}

    .body{
    font-family: 'Roboto', sans-serif;
    }
    .link{
        text-decoration: none;
    }
    .list{
        list-style: none;
    }

/*------------------HEADER----------------*/
    .header {}

    .header-navigation {}

    .header-logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
    }

    .blue-word{
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
    }

    .header-list {}

    .header-iten {}

    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    .header-link:hover,
    .header-link:focus
    {
        color: tomato;
    }

     .header-amail {
         font-family: 'Roboto';
         font-size: 16px;
         line-height: 1.5;
          letter-spacing: 0.02em;
         color: #434455;
        }
        .header-amail:hover ,
        .header-amail:focus
        {
            color: tomato;
        }
    .header-tel {
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .header-tel:hover , 
    .header-tel:focus
    {
        color: tomato;
    }

/*------------------SECTION 1----------------*/
    .section1-fone {
        background: #2E2F42;
    }

/*Effective Solutions for Your Business*/
    .section1-heading{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .section1-btn{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;    
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer;
    }
    .section1-btn:hover,
    .section1-btn:focus 
    {
        color: tomato;
    }
    /*------------------SECTION 2----------------*/
    .section2 {}

    .section2-list {
    }

    .section2-item{
    }

    .section2-items {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }

    .section2-tille {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;    
        color: #434455;
    }
     /*------------------SECTION 3----------------*/
    .section3 {}

    .section3-caption {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;    
        color: #2E2F42;
    }

    .section3-list {}

    .section3-item {}

    .section3-img {
        width: 360px;
        height: 300px;
    }
     /*------------------SECTION 4----------------*/
    .section4 {}

    .section4-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }
    .section4-list {}

    .section4-item {}

    .section4-img {
        width: 264px;
        height: 260px;
    }
    .section4-items {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    .section4-desc {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;}
    /*------------------FOOTER---------------*/
    .footer-fone {
            background: #2E2F42;
         }

     .footer-logo {
        font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
    }
    .footer-blue-word {
        font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
    }
    .footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
    }